<h3><%= @client.name() %>'s Appointment Info:</h3>

<div class="card-panel teal lighten-2">
  <ul>
    <li>Time and Date: <%= @client.appointment_time() %></li>
    <br>
    <li>Stylist: <%= @stylist.name %></li>
  </ul>
  <br>
  <p><a href="/clients/<%= @client.id() %>/edit" class="btn-floating btn-large waves-effect waves-light red">Edit <%= @client.name() %>'s Info</a></p>
</div>

<div class="home">
  <a href="/" class="waves-effect waves-teal btn-flat">Home</a>
</div>
