<h3><%= @client.name() %>'s Appointment Info:</h3>

<ul>
  <li>Time and Date: <%= @client.appointment_time() %></li>
  <li>Stylist: <%= @stylist.name %></li>
</ul>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
<p><a href="/clients/<%= @client.id() %>/edit">Edit <%= @client.name() %>'s Info</a></p>
