<% if @stylist.clients().any?() %>
  <h3>Here are <%= @stylist.name() %>'s clients:</h3>

  <ul>
    <% @stylist.clients().each() do |client| %>
      <li><%= client.name() %>, (<%= client.name() %>)  </li>
    <% end %>
  </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>

<div class="container">
  <a href="/"><button class="btn">Home</a>
</div>
<p><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.name() %>'s Info</a></p>
