<% if @stylist.clients().any?() %>
  <h3>Here are <%= @stylist.name() %>'s clients:</h3>

<div class="card-panel teal lighten-2">

    <ul>
      <% @stylist.clients().each() do |client| %>
        <li><a href="/clients/<%= client.id() %>"><%= client.name() %>, (<%= client.appointment_time() %>)  </li>
      <% end %>
    </ul>

  <% else %>
    <p>There are no clients for this stylist!</p>
  <% end %>
</div>

<div class="stylist-links">
  <a href="/" class="waves-effect waves-teal btn-flat">Home</a>

  <p><a href="/stylists/<%= @stylist.id() %>/edit" class="waves-effect waves-teal btn-flat">Edit <%= @stylist.name() %>'s Info</a></p>
</div>
